<ion-view title="MyRobotController" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="myRobotController-heading2" style="color:#000000;font-weight:300;">Movility of the Robot</h3>
    <div id="myRobotController-button-bar1" class="button-bar">
      <button id="myRobotController-button4" class="button button-dark button-block">Left</button>
      <button id="myRobotController-button5" class="button button-stable button-block">Foward</button>
      <button id="myRobotController-button6" class="button button-dark button-block">Right</button>
    </div>
    <button id="myRobotController-button7" class="button button-stable button-block">Backward</button>
    <h3 id="myRobotController-heading1" style="color:#000000;font-weight:300;">Distance Break Threshold</h3>
    <form id="myRobotController-form9" class="list">
      <ion-item class="range range-positive" id="myRobotController-range2">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <h3 id="myRobotController-heading3" style="color:#000000;font-weight:300;">Power Supply Switch </h3>
      <ion-toggle toggle-class="toggle-positive" id="myRobotController-toggle1">ON/OFF</ion-toggle>
      <ion-checkbox id="myRobotController-checkbox1"> Bluetooth Connection</ion-checkbox>
    </form>
  </ion-content>
</ion-view>